.card-box {
    margin: 15rem 0;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-content: center;
    grid-column-gap: 7rem;
    padding: 7rem;
}

.card {
    background-color: var(--color-grey-light-1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
    grid-column-gap: 2rem;
    box-shadow: var(--shadow-dark);
    border-radius: .7rem;
    overflow: hidden;
    padding-bottom: 4rem;
    @media only screen and (max-width: $bp-medium) {
        &:not(:last-child) {
            margin-bottom: 6rem;
        }
    }
    &__img {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 1;
    }
    i {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        color: var(--color-red);
        font-size: 3rem;
        z-index: 2;
        justify-self: end;
        margin: 1rem;
    }
    &__name {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 3;
        justify-self: center;
        align-self: end;
        width: 80%;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        background-image: linear-gradient(to right bottom, 
        var(--color-primary), var(--color-secondary));
        border-radius: .4rem;
        color: #fff;
        font-weight: 400;
        transform: translateY(50%);
    }
    &__location, &__rooms {
        margin-top: 2.5rem;
    }
    &__location, &__rooms, &__area, &__price {
        font-size: 1.5rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        i {
            color: var(--color-primary);
            font-size: 2rem;
            margin-right: 1rem;
        }
    }
}