///////////////////////////////////////////////////////////////
// navbar:
///////////////////////////////////////////////////////////////

// logo
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

// searchbar
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: $bp-smallest) {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
    }
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        transition: all .3s;
        margin-right: -3.25rem;
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }
    &__input:focus ~ &__button {
        background-color: var(--color-grey-light-3);
    }
    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(.2rem);
        }
        & i {
            color: var(--color-grey-dark-3);
        }
    }
}

// user navigation
.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        transition: all .3s;
    }
    & > *:hover {
        background-color: var(--color-grey-light-2);
    }
    &__icon-box {
        position: relative;
        & i {
            font-size: 2.2rem;
            color: var(--color-grey-dark-2);
        }
    }
    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100%;
        background-color: var(--color-red);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user-photo {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}
