///////////////////////////////////////////////////////////////
// user reviews:
///////////////////////////////////////////////////////////////

// review
.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    border-radius: .7rem;
    padding: 5rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;
    &__text {
        margin-bottom: 2rem;
        position: relative;
        z-index: 2;
    }
    &__user {
        display: flex;
        align-items: center;
    }
    &__photo {
        height: 6rem;
        width: 6rem;
        border-radius: 100%;
        margin-right: 1.5rem;
    }
    &__user-box {
        margin-right: auto;
    }
    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }
    &__user-date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }
    &__rating {
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }
    &::before {
        content: "\f10d"; 
        color: var(--color-grey-light-4);
        font-family: FontAwesome;
        display: inline-block;
        position: absolute;
        line-height: 1;
        top: 1rem;
        left: 1rem;
        font-size: 7rem;
        z-index: 1;
    }
}